.form-input {
    border-color:'1px solid grey'  !important;
    box-shadow: none !important;
    border: 'none' !important;
    font-size: 1.25rem;
    color: "grey";
}
.btn-azul {
    background-color: #3483fa;
    border-color: transparent;
    color: #fff;
}
.btn-azul:hover {
    background-color: #2968c8;
    border-color: transparent;
    color: #fff;
    transition: background-color .2s ease-in;
}