.form-input {
    align-items: flex-end !important;
    border-color:grey !important;
    box-shadow: none !important;
    border: 'none' !important;
    font-size: 1.25rem !important;
    color: "grey";
}
.btn-azul {
    background-color: #3483fa !important;
    border-color: transparent !important;
    color: #fff !important;
}
.btn-azul:hover {
    background-color: #2968c8;
    border-color: transparent !important;
    color: #fff !important;
    transition: background-color .2s ease-in !important;
}