/*===========================*/
/** Start styling the MAIN **/
/*=========================*/

.counter{
    display: flex;
    justify-content: center;
    
}

main {
    height: 100%;
    width: 100%;
    background-color: var(--clr-bg-gris);
}

.img-slider {
    height: 340px;
    max-width: 1600px;
    margin: 0 auto;
    position: relative;
    overflow-x: clip;
    overflow: hidden;
}

.slide{
    width: 100vw;
}

.slider-img{
    position: relative;
    width: 100%;
}

.arrowImgs{
    position: absolute;
    align-items: center;
    top: 50%;
    display: flex;
    justify-content: center;
    background-color: #fff;
    border: none;
    box-shadow: 0 1px 2px 0rgba(0,0,0,.12);
    cursor: pointer;
    height: 64px;
    width: 32px;
    opacity: 0;
    padding: 0;
    transform: translateY(-50%);
}

.img-slider:hover .arrowImgs{
    opacity: 1;
}

.arrowNextImg{
    right: 0;
    border-top-left-radius: 64px;
    border-bottom-left-radius: 64px;
}

.arrowNextImg svg{
    transform: rotate(180deg);
}

.arrowPrevImg{
    left: 0;
    border-top-right-radius: 64px;
    border-bottom-right-radius: 64px;
}

/********* Pay Methods ********/

.pay-container{
    padding: 40px;
}

.pay-methods{
    padding: 0 15px;
    max-width: 1155px;
    margin: 0 auto;
    background-color: white;
    border-radius: 5px;
    display: flex;
}

.pay-mains{
    display: flex;
    flex: 1 1 auto;
}

.pay-group{
    display: flex;
    align-items: center;
    gap: 1em;
    flex: 1 0 auto;
    font-size: 18px;
    height: 50px;
    padding: 20px;
    white-space: nowrap;
}

.pay-method{
    font-weight: 200;
}

.pay-advice{
    color: var(--clr-letra-azul);
    font-size: var(--letra-chicaXL);
}

.plus-info{
    width: 100px;
    position: relative;
    display: flex;
    justify-content: center;
}

.pay-plus{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.plus-info::before{
    content: "";
    position: absolute;
    background-color: var(--clr-bg-gris);
    height: 100%;
    width: 1px;
    left: 0;
}

/******** Cards Products *********/

.cards-related {
    height: 100%;
    padding: 40px 0;
    max-width: 1184px;
    margin: 0 auto;
}

.product-cards {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.product-slider {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.search-products-list{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 950px;
    margin: 0 auto;
}

.card {
    position: relative;
    height: 345px;
    width: 224px;
    white-space: normal;
    background-color: white;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 1px 1px 1px rgb(0 0 0 / 10%);
    transition: all 0.1s ease-in-out;
    margin-bottom: 1em;
}

.cards-title {
    display: flex;
    align-items: baseline;
}

.card-title {
    margin-right: .6em;
    font-size: 26px;
    font-weight: 100;
    color: var(--clr-letra-gris);
    opacity: 0.8;
}

.text-blue {
    color: var(--clr-letra-azul);
}

.card-img {
    width: 224px;
    height: 225px;
    object-fit: contain;
    border-bottom: 1px solid rgba(128, 128, 128, 0.24);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.card-info {
    padding: 10px 15px;
}

.card-price {
    font-size: 24px;
    color: var(--clr-letra-gris);
}

.card-desc {
    color: var(--clr-letra-gris);
    display: block;
    font-size: 14px;
}

.card-extrainfo {
    font-size: var(--letra-chicaXL);
    color: #666;
    margin-top: 12px;
    height: auto;
    overflow: hidden;
    display: none;
}

.card:hover{
    height: 350px;
    max-height: 100%;
    min-height: 330px;
    height: auto;
    box-shadow: 4px 4px 4px 4px rgb(0 0 0 / 10%);
}

.card:hover .card-extrainfo{
    display: block;
}

/* Fav heart card */

.heartFav{
    background-color: hsla(0,0%,100%,.7);
    border: none;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    cursor: pointer;
    height: 32px;
    opacity: 0;
    padding: 0;
    position: absolute;
    right: 16px;
    top: 16px;
    width: 32px;
    z-index: 2;
}

.heartFav svg {
    margin-top: .3em;
}

.card:hover .heartFav{
    opacity: 1;
}

