/*===========================*/
/** Start styling the MAIN **/
/*=========================*/

.counter{
    display: flex;
    justify-content: center;
    
}

main {
    height: 100%;
    width: 100%;
    background-color: var(--clr-bg-gris);
}

.img-slider {
    height: 340px;
    max-width: 1600px;
    margin: 0 auto;
    position: relative;
    overflow-x: clip;
    overflow: hidden;
}

.slide{
    width: 100vw;
}

.slider-img{
    position: relative;
    width: 100%;
}

.arrowImgs{
    position: absolute;
    align-items: center;
    top: 50%;
    display: flex;
    justify-content: center;
    background-color: #fff;
    border: none;
    box-shadow: 0 1px 2px 0rgba(0,0,0,.12);
    cursor: pointer;
    height: 64px;
    width: 32px;
    opacity: 0;
    padding: 0;
    transform: translateY(-50%);
}

.img-slider:hover .arrowImgs{
    opacity: 1;
}

.arrowNextImg{
    right: 0;
    border-top-left-radius: 64px;
    border-bottom-left-radius: 64px;
}

.arrowNextImg svg{
    transform: rotate(180deg);
}

.arrowPrevImg{
    left: 0;
    border-top-right-radius: 64px;
    border-bottom-right-radius: 64px;
}

/********* Pay Methods ********/

.pay-container{
    padding: 40px;
}

.pay-methods{
    padding: 0 15px;
    max-width: 1155px;
    margin: 0 auto;
    background-color: white;
    border-radius: 5px;
    display: flex;
}

.pay-mains{
    display: flex;
    flex: 1 1 auto;
}

.pay-group{
    display: flex;
    align-items: center;
    gap: 1em;
    flex: 1 0 auto;
    font-size: 18px;
    height: 50px;
    padding: 20px;
    white-space: nowrap;
}

.pay-method{
    font-weight: 200;
}

.pay-advice{
    color: var(--clr-letra-azul);
    font-size: var(--letra-chicaXL);
}

.plus-info{
    width: 100px;
    position: relative;
    display: flex;
    justify-content: center;
}

.pay-plus{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.plus-info::before{
    content: "";
    position: absolute;
    background-color: var(--clr-bg-gris);
    height: 100%;
    width: 1px;
    left: 0;
}

