/******** Cards Products *********/

.cards-related {
    height: 100%;
    padding: 40px 0;
    max-width: 1184px;
    margin: 0 auto;
}

.product-cards {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.product-slider {
    gap: 10px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.search-products-list{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 950px;
    margin: 0 auto;
    gap: 10px;
}

.card-container{
    height: 365px;
}

.card {
    position: relative;
    min-height: 356px;
    width: 224px;
    white-space: normal;
    background-color: white;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 1px 1px 1px rgb(0 0 0 / 10%);
    transition: all 0.1s ease-in-out;
    margin-bottom: 1em;
}

.cards-title {
    display: flex;
    align-items: baseline;
}

.card-title {
    margin-right: .6em;
    font-size: 26px;
    font-weight: 100;
    color: var(--clr-letra-gris);
    opacity: 0.8;
}

.text-blue {
    color: var(--clr-letra-azul);
}

.card-img {
    width: 224px;
    height: 225px;
    object-fit: contain;
    border-bottom: 1px solid rgba(128, 128, 128, 0.24);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.card-info {
    padding: 3px 15px;
}

.card-price {
    font-size: 24px;
    color: var(--clr-letra-gris);
}

.card-desc {
    color: var(--clr-letra-gris);
    display: block;
    font-size: 14px;
    margin-bottom: 0;
}

.card-extrainfo {
    font-size: var(--letra-chicaXL);
    color: #666;
    margin-top: 6px;
    height: auto;
    overflow: hidden;
    display: none;
}

.card:hover{
    height: auto;
    box-shadow: 4px 4px 4px 4px rgb(0 0 0 / 10%);
}

.card:hover .card-extrainfo{
    display: block;
}