code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/*================================================================*/
/********************** MercadoLibre CSS *************************/
/*==============================================================*/

body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Nova,-apple-system,Helvetica Neue,Helvetica,Roboto,Arial,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  /* Colors */
  --clr-amarillo: #FFF159;
  --clr-bg-gris: #EBEBEB;
  /******** Font ********/
  /* Color */
  --clr-letra-negra: #000000;
  --clr-letra-gris: #333333;
  --clr-letra-azul: #3483fa;
  --clr-grisXL: #d4d4d4;
  /* Size */
  --letra-chicaXL: .75rem;
  --letra-chica: .875rem;
  --letra-normal: 1rem;
  --letra-mediana: 1.125rem;
  --letra-h2: 1.625rem;
}

li{
  list-style: none;
}

a{
  text-decoration: none;
}

.contenedor{
  background-color: var(--clr-bg-gris);
}

.contenido{
  background-color: var(--clr-bg-gris);
}